@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0 ;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}



.app {
  min-height: 100vh; /* Minimum height of 100% of viewport height */
  display: grid;
  background-image: url('./assets/bg-light.png');
  background-size: cover; /* Ensure the background image covers the entire div */
  background-position: center; /* Center the background image */
}

@media (max-width: 768px) {
  .app {
    /* Adjust styles for smaller screens */
    padding: 10px; /* Add padding */
    min-height: 100vh; /* Allow height to adjust to content */
}
}